In [1]:
# 개별 원소에 함수 매핑 : 시리즈 객체.apply(함수명)



def add_10(n):
    return n+10

sr1 = df['age'].apply(add_10)
sr1.head

# sr1 = df['age'].apply(add_10)

sr1 = df['age'].apply(lambda x: x+10)
sr1.head
sr2
sr2 = df['age'].apply(add_two_10, b=20)

NameError: name 'df' is not defined

In [ ]:
ㅇef max_min(x):
    return x.max() -x.min()

result = df.apply(lambda x: x.max() - xmin(), axis = 1)
print(result)

df['sum'] = df.apply(lambda x:x.sum(), axis = 1)
ad.head()

In [2]:
# 열 분리 추가  : stock.xlsx 
# 데이터 프레임의 다양한 응용

mask1 = (titanic.age >= 10) & (titanic.age <20)
# df_teenage = titanic.loc[mask1, :]

df_teenage = titanic.loc[(titanic.age >= 10) & (titanic.age < 20), :]
df_teenage

# df_female -> 10대 미만이고 여상만 필터링

df_female = titanic.loc[(titanic.age<10) & (titanic.sex == "female"), :]
df_female

# df_1 : 10대 미만이거나 60대 이상인 데이터의 'age', 'sex', 'class' 만 검색

mask2 = (titanic.age < 10) | (titanic.age >= 60)
df_1 = titanic.loc[mask2, ['age', 'sex', 'class']]
df_1

NameError: name 'titanic' is not defined

In [3]:
pdf

pdf1 = pd.pivot_table(df,
                     index=['class', 'sex'], 
                     column = 'survived',
                     values = ['age', 'fare'],
                     aggfunc = ['min', 'max'])

pdf1
pdf1.xs(1, level = 'survived', axis=1)

NameError: name 'pdf' is not defined