In [1]:
# 파일명의 프로그램 코드를 현재의 프로그램에 삽입
# %load 파일명

In [2]:
import os
os.getcwd()
# % load '/Users/dongjinkim/OneDrive/2. Private/AI lecture_202110/coding_python/Anaconda_python/파일명'

'/Users/dongjinkim/OneDrive/2. Private/AI lecture_202110/coding_python/Anaconda_python'

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seabon as sns

matplotlib.rcParams['font.']

In [4]:
# age 컬럼의 Nan 처리
# 누락 데이터가 400개 이상인 컬럼을 삭제 -> 데이터 분석에 영향이 없는 컬럼
df_t = df.dropna(axis=1, thresh=400)
df_t.head()

# 1. 제거하는 방법
df_age = df.dropna(subset = ['age'], how = 'any', axis=0)
print(len(df), len(df_age))

# 2. 치환하는 방법 : 평균
mean_age = df['age'].fillna(np.floor(df['age'].mean(axis=0)))
# mean_age = df['age'].fillna(0)
mean_age.head(10)

NameError: name 'df' is not defined

In [ ]:
# 중복 제거
df2 = df.copy()
df2 = df2.drop_duplicate()
df2

In [5]:
# 컬럼 기준으로 중복 제거
df3 = df.copy()
df3= df3.drop.duplicates(subset=['c2','c3'])
df3

NameError: name 'df' is not defined

In [6]:
# horsepower 자료에 Nan 확인 -> Nan 없애고 시작
df_mpg.dropna(subset = ['horsepower'], axis=0, inplace=True)
df_mpg.info()

# 2. 자료형 변환 : 범주형 데이터를 확인 변형 astype('int32', 'category')
print(df_mpg['origin'].dtypes) 
df_mpg['origin'] = df_mpg['origin'].astype('category')
print(df_mpg['origin'].dtypes)

NameError: name 'df_mpg' is not defined

In [7]:
df_1["horsepower"].unique()
df_1['horsepower'].replace('?', np.nan, inplace=True)
df_1.dropna(shbset=['horsepower'], axis = 0, inplace=True)
df_1['horsepower']=df_1['horsepower'].astype('float')

NameError: name 'df_1' is not defined

In [8]:
# 데이터 전처리

# 1. 결측치 처리
# 2. 데이터형 변환
# 3. 범주형으로 변경 (구간 분할, np.histogram(), pd.cut())
# 4. 원한인코딩 (더미변수, skjearn.preprocessing)
# 5. 정규화

In [9]:
# df.reset_index(inplace=True)
df['New_Data'].dt.year[0]
df['New_Data'].dt.month[0]
df['New_Data'].dt.day[0]

NameError: name 'df' is not defined